[submodule "Drivers/CMSIS/Device/ST/STM32F0xx"]
	path = Drivers/CMSIS/Device/ST/STM32F0xx
	url = https://github.com/STMicroelectronics/cmsis_device_f0.git
	branch = master
[submodule "Drivers/STM32F0xx_HAL_Driver"]
	path = Drivers/STM32F0xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver.git
	branch = master
[submodule "Drivers/BSP/STM32F0xx_Nucleo_32"]
	path = Drivers/BSP/STM32F0xx_Nucleo_32
	url = https://github.com/STMicroelectronics/stm32f0xx-nucleo-32-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F0xx-Nucleo"]
	path = Drivers/BSP/STM32F0xx-Nucleo
	url = https://github.com/STMicroelectronics/stm32f0xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32091C_EVAL"]
	path = Drivers/BSP/STM32091C_EVAL
	url = https://github.com/STMicroelectronics/stm32091c-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32072B_EVAL"]
	path = Drivers/BSP/STM32072B_EVAL
	url = https://github.com/STMicroelectronics/stm32072b-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F072B-Discovery"]
	path = Drivers/BSP/STM32F072B-Discovery
	url = https://github.com/STMicroelectronics/32f072bdiscovery-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32F0308-Discovery"]
	path = Drivers/BSP/STM32F0308-Discovery
	url = https://github.com/STMicroelectronics/32f0308discovery-bsp.git
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common
	branch = main
[submodule "Drivers/BSP/Components/hx8347d"]
	path = Drivers/BSP/Components/hx8347d
	url = https://github.com/STMicroelectronics/stm32-hx8347d
	branch = main
[submodule "Drivers/BSP/Components/l3gd20"]
	path = Drivers/BSP/Components/l3gd20
	url = https://github.com/STMicroelectronics/stm32-l3gd20
	branch = main
[submodule "Drivers/BSP/Components/spfd5408"]
	path = Drivers/BSP/Components/spfd5408
	url = https://github.com/STMicroelectronics/stm32-spfd5408
	branch = main
[submodule "Drivers/BSP/Components/st7735"]
	path = Drivers/BSP/Components/st7735
	url = https://github.com/STMicroelectronics/stm32-st7735
	branch = main
[submodule "Drivers/BSP/Components/stlm75"]
	path = Drivers/BSP/Components/stlm75
	url = https://github.com/STMicroelectronics/stm32-stlm75
	branch = main
[submodule "Drivers/BSP/Components/i3g4250d"]
	path = Drivers/BSP/Components/i3g4250d
	url = https://github.com/STMicroelectronics/stm32-i3g4250d
	branch = main
[submodule "Middlewares/ST/STM32_TouchSensing_Library"]
	path = Middlewares/ST/STM32_TouchSensing_Library
	url = https://github.com/STMicroelectronics/stm32-mw-touchsensing.git
	branch = main
[submodule "Middlewares/ST/STM32_USB_Device_Library"]
	path = Middlewares/ST/STM32_USB_Device_Library
	url = https://github.com/STMicroelectronics/stm32-mw-usb-device.git
	branch = master
[submodule "Middlewares/Third_Party/FatFs"]
	path = Middlewares/Third_Party/FatFs
	url = https://github.com/STMicroelectronics/stm32-mw-fatfs.git
	branch = master
[submodule "Middlewares/Third_Party/FreeRTOS"]
	path = Middlewares/Third_Party/FreeRTOS
	url = https://github.com/STMicroelectronics/stm32-mw-freertos.git
	branch = master
